@model TheDmScreen.Models.Views.EpisodeIndexModel

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="../../Scripts/Foundation/css/foundation.css">
<script src="../../Scripts/Foundation/js/foundation.min.js"></script>
<script src="../../Scripts/Foundation/js/foundation/foundation.reveal.js"></script>

@{ var numberOfCampaigns = 0;}

<body class="large-10 columns large-centered">

    <!--Title Bar-->
    <div class="row large-centered">
        <h2>@Model.Campaign.Name</h2>
        <p>@Model.Campaign.Description</p>
        <hr />
    </div>

    <!--Modal Dialog-->
    <div class="reveal-modal" id="myModal" data-reveal>
        <div id="addModal" class="large-8 columns">
            <h3>Apologies!</h3>
            This functionality is not implemented yet, but it is coming soon!
        </div>
        <a class="close-reveal-modal" aria-label="Close">&#215;</a>
    </div>

    <!--Headers-->
    <div class="row">
        <div class="large-text-center large-9 columns">
            <h3>Episodes</h3>
        </div>
        <div class="large-text-center large-3 columns">
            <h3>Dossier</h3>
        </div>
    </div>
    <div class="row">

        <!--Episode Index-->
        <div class="panel large-9 columns">
            @foreach (var episode in Model.Campaign.Episodes.OrderBy(p => p.Order))
            {
                // We don't want one of these spacers if there's only one campaign in the index
                if (numberOfCampaigns++ > 0)
                {
                    <hr />
                }
                <div class="row episodeSelect" id="@episode.Id">
                    <div class="large-centered large-10 columns">
                        <div class="row">
                            <h4>@episode.Name</h4>
                        </div>
                        <div class="row">
                            <div>@episode.Description</div>
                        </div>
                    </div>
                </div>
            }
        </div>

        <!--Dossier-->
        <div class="large-3 columns hide-for-small">
            @foreach (var character in Model.Dossier.OrderBy(m => m.Type).ThenBy(n => n.Name))
            {
                <div class="row large-text-center">
                    <div class="large-centered large-10 columns">
                        <div class="row">
                            <div class="characterSelect" id="@character.Id">@character.Name</div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>

    <!--Add Episode Button-->
    <div class="row">
        <div id="addEpisode" class="large-3 large-offset-3 columns button">Add</div>
    </div>

    <!--Hiddens-->
    <input type="hidden" id="campaignId" value="@Model.Campaign.Id" />

    @Html.Partial("~/Views/Common/Footer.cshtml")
</body>

<script>
    $(document).foundation();

    function auto_grow(element) {
        element.style.height = "5px";
        element.style.height = (element.scrollHeight) + "px";
    }

    $(document).ready(function () {
        $("#addEpisode").click(function () {
            var data = { campaignId: $("#campaignId").attr("value") };

            $("#myModal").foundation("reveal", "open", {
                url: '@Url.Action("Add","Episode")',
                data: data,
                error: function () {
                    alert('failed loading modal');
                }
            });
        });

        $(".characterSelect").click(function () {
            var url = '@Url.Action("Details", "Character", new { episodeId = "__id__" })';
            window.location.href = url.replace('?episodeId=__id__', '/' + $(this).attr("id"));
        });

        $(".episodeSelect").click(function () {
            var url = '@Url.Action("Index", "Encounter", new { episodeId = "__id__" })';
            window.location.href = url.replace('__id__', $(this).attr("id"));
        });
    });
</script>