@model TheDmScreen.Models.Character

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<link rel="stylesheet" href="../../Scripts/Foundation/css/foundation.css">
<script src="../../Scripts/Foundation/js/foundation.min.js"></script>
<script src="../../Scripts/Foundation/js/foundation/foundation.reveal.js"></script>

<body class="large-10 columns large-centered">
    <div class="row large-centered">
        <h2>@Model.Name</h2>
        <hr />
    </div>


    <div class="row">
        <div class="large-7 columns">
            <h3>Summary</h3>
            @Model.Summary
        </div>
    </div>

    <div class="row">
        <h3>Inventory</h3>
        Etiam eget massa sed libero rhoncus iaculis. Etiam tristique mi at pharetra rutrum. Quisque non tempor nisl. Ut vitae turpis porta, auctor odio id, porttitor eros. Donec nulla dui, tincidunt nec libero a, rutrum eleifend nisl. Aliquam euismod lorem nisl, id vehicula ante egestas non. Aliquam ipsum sapien, rhoncus in enim ac, viverra dignissim felis. Sed cursus justo ut justo rhoncus consectetur. Donec ac sem ut leo commodo tempor. Nullam fringilla felis ac turpis tincidunt, ac lobortis ante scelerisque. Etiam elementum bibendum tellus, ut viverra nisi rhoncus et. Fusce egestas dapibus elit quis tempus. Duis ex diam, fermentum in enim a, ultrices viverra eros. Suspendisse pharetra iaculis neque nec lacinia.
    </div>

<aside>
    <div class="row">
        <div class="large-8 large-offset-2">
            <div class="row">
                <img src="@Model.Portrait"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <b>Status:</b>
        </div>
        <div class="large-6 columns left-align">
            @Model.Status
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <b>Class:</b>
        </div>
        <div class="large-6 columns">
            <div class="row">
                Rogue 6
            </div>
            <div class="row">
                Wizard 3
            </div>
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <b>Age:</b>
        </div>
        <div class="large-6 columns">
            @Model.Age
        </div>
    </div>
    <div class="row">
        <div class="large-6 columns">
            <b>Wealth:</b>
        </div>
        <div class="large-6 columns">
            @Model.Age
        </div>
    </div>
</aside>

</body>