@model TheDmScreen.Models.EditEntryViewModel

<!--Modal Title Bar-->
<div class="row">
    <h3>Edit Entry</h3>
    <br/>
</div>

<!--Description Text Area-->
<div class="row">
    <h5>Action Description</h5>
    <div class="large-12 columns">
        <textarea onkeyup=" auto_grow(this) " id="updateDescription">@Model.FeedEntry.Description</textarea>
    </div>
</div>

<!--Options-->
<div class="row">
    <ul class="button-group large-12 columns">
        <li id="characterName" class="button large-4 columns" data-dropdown="characterSelect" data-options="is_hover:true; hover_timeout:5000">
            @Model.FeedEntry.ActingCharacter.Name
        </li>
        <li id="ModalUpdate" class="button large-offset-4 large-2 columns">Update</li>
        <li id="ModalDelete" class="button large-2 columns">Delete</li>
    </ul>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<!--Hiddens-->
<input type="hidden" id="characterId" value="@Model.FeedEntry.ActingCharacter.Id" />
<input type="hidden" id="entryId" value="@Model.FeedEntry.Id" />

<!--Dropdown list options-->
<ul id="characterSelect" class="f-dropdown" data-dropdown-content>
    @foreach (var character in @Model.Initiatives)
    {
        <li value="@character.Character.Id"><a href="#">@character.Character.Name</a></li>
    }
</ul>

<style>
    textarea {
        resize: none;
        overflow: hidden;
        min-height: 50px;
        max-height: 100px;
    }
</style>

<script>
    $(document).ready(function () {

        // Change the character
        $("#characterSelect>li").click(function () {
            var newId = $(this).attr("value");
            var newName = $(this).find("a").text();

            $("#characterId").val(newId);
            $("#characterName").text(newName);
        });

        // Update an existing entry
        $("#ModalUpdate").click(function () {
            var commitData = {
                entryId: $("#entryId").val(),
                description: $("#updateDescription").val(),
                characterId: $("#characterId").val()
            };

            $.ajax({
                url: "@Url.Action("Update","FeedEntry")",
                dataType: "json",
                type: "PUT",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(commitData),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    var url = '@Url.Action("Encounter", "Encounter", new { id = "__id__" })';
                    window.location.href = url.replace('/__id__', '?encounterId=' + $("#encounterId").val());
                },
                error: function (xhr) {
                    alert("Oops, something got screwed up here");
                }
            });
        });

        // Delete... I should probably go through and change this to have an "Are you sure?" prompt
        $("#ModalDelete").click(function () {
            var deleteData = { entryId: $("#entryId").val() };

            $.ajax({
                url: "@Url.Action("Delete","FeedEntry")",
                dataType: "json",
                type: "PUT",
                contentType: "application/json; charset=utf-8",
                data: JSON.stringify(deleteData),
                async: true,
                processData: false,
                cache: false,
                success: function (data) {
                    var url = '@Url.Action("Encounter", "Encounter", new { id = "__id__" })';
                    window.location.href = url.replace('/__id__', '?encounterId=' + $("#encounterId").val());
                },
                error: function (xhr) {
                    alert("Oops, something got screwed up here");
                }
            });
        });
    });
</script>